<li class="job-in-list">
    <h3 class="title">
        {{@data.title}}
    </h3>

    <div class="trigger">
        {{t 'job.trigger.label'}}: {{t (concat 'job.trigger.' @data.trigger)}}
    </div>

    {{yield}}
</li>
