<ul class="radio-messages" {{did-insert this.initRadio}}  ...attributes>
    {{#each this.radio.messages as |message|}}
        {{yield (hash message=(component this.messageComponent
                                            message=message
                                            type=message.type
                                            text=message.text
                                            handleMouseIn=this.handleMouseIn
                                            handleMouseOut=this.handleMouseOut
                                            handleClick=this.handleClick))}}
    {{/each}}
</ul>